{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'libary/css/style_add_topic.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <a href="{% url 'home' %}" class="nav-link">Home</a>
            </div>
        </nav>
    </header>
    <div class="registration-form">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
