body, h2, a {
    text-decoration: none;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #121212;
    color: #e0e0e0;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
}

.home {
    text-align: left;
}

.create {
    text-align: right;
}

.nav-container {
    padding: 0 20px;
}

.add-topic-button {
    background-color: #1C64F2;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.add-topic-button:hover {
    background-color: #E5E7EB;
    color: #1E1E1E;
    text-decoration: none;
}

header {
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

section {
    background: #333333;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

p {
    text-align: left;
}

nav a {
    color: #1C64F2;
    text-decoration: none;
    padding: 10px;
}

article {
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

h2 {
    margin-bottom: 10px;
}

h2 a {
    color: #E5E7EB;
    text-decoration: none;
}

h2 a:hover {
    color: #1C64F2;
}

.video-container {
    margin-bottom: 20px;
}

video {
    max-width: 100%;
    border-radius: 8px;
}

p {
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    color: #e0e0e0;
    font-size: 0.8em;
    text-align: center;
}
